{% extends "MyBlog/base.html" %}

{% block header %}
  <h1>Topics</h1>
{% endblock header %}

{%block content%}
    <p>Topics</p>
    <ul>
        {% for topic in topics %}
            <li>
                <h3>
                  <a href="{% url 'Blog:topic' topic.id %}">{{ topic }}</a>
                </h3>
            </li>
        {% empty %}
            <li>No topics have been added yet</li>
        {% endfor %}
    </ul>

<h1><a href="{% url 'Blog:new_topic' %}">Add new topic</h1>

{%endblock content%}

<div class="shot"><img src="{{ photos }}"/></div>